<link href="~/Content/css/menu.css" rel="stylesheet" />
<script src="~/Scripts/menu.js"></script>

<ul id="panelbarmenu">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Quản trị sản phẩm</span>
        <ul>
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
        </ul>
    </li>
</ul>
