<link href="~/Content/css/menu.css" rel="stylesheet" />
<ul id="panelbarmenu">
    <li class="k-state-active">
        <span class="k-link k-state-selected"><span class="panel-header">Quản trị sản phẩm</span></span>
        <ul>
            <li>Thêm mới</li>
            <li>Cập nhật</li>
            <li>Danh sách</li>
        </ul>
    </li>
    <li>
        <span class="panel-header">Quản trị công nợ</span>
        <ul>
            <li>Tạo phiếu</li>
            <li>Tìm kiếm</li>
            <li>Thanh toán</li>
            <li>Cập nhật phiếu</li>
        </ul>
    </li>
    <li>
        <span class="panel-header">Hệ thống</span>
        <ul>
            <li>
                <span class="panel-header-item">
                    Tài khoản - Phân quyền
                </span>
                <ul>
                    <li>Danh sách</li>
                    <li>Thêm mới</li>
                    <li>Phân quyền</li>
                </ul>
            </li>
            <li>
                <span class="panel-header-item">Lịch sử hoạt động</span>
                <ul>
                    <li>Tất cả</li>
                    <li>Lịch sử tạo phiếu</li>
                    <li>Lịch sử cập nhật</li>
                    <li>Lịch sử xóa dữ liệu</li>
                    <li>Lịch sử giao dịch</li>
                </ul>
            </li>
            <li>Cài đặt</li>
            <li>Thông tin</li>
        </ul>
    </li>
</ul>
