.toggle-button {
    position: fixed;
    top: 45%;
    width: 44px;
    height: 44px;
    padding: 5px 8px;
    transition: .25s;
    z-index: 15;
    border-radius: 50%;
    border: 4px solid #555;
    box-shadow: 0px 0px 8px 2px #B9ADAD;
}

    .toggle-button:hover {
        cursor: pointer;
    }

    .toggle-button .menu-bar {
        position: absolute;
        border-radius: 2px;
        width: 18px;
        transition: .5s;
    }

    .toggle-button .menu-bar-top {
        border: 4px solid #555;
        border-bottom: none;
        top: 0px;
        transform: rotate(45deg) translate(8px, 8px);
    }

    .toggle-button .menu-bar-middle {
        height: 4px;
        background-color: #555;
        margin-top: 7px;
        margin-bottom: 7px;
        top: 4px;
    }

    .toggle-button .menu-bar-bottom {
        border: 4px solid #555;
        border-top: none;
        top: 11px;
        transform: rotate(-45deg) translate(-8px, 8px);
    }

.button-open .menu-bar-top {
    top: 10px;
    transform: rotate(45deg) translate(8px, 8px);
    transition: .5s;
}

.button-open .menu-bar-middle {
    transform: translate(230px);
    transition: .1s ease-in;
    opacity: 0;
}

.button-open .menu-bar-bottom {
    top: 22px;
    transform: rotate(-45deg) translate(8px, -8px);
    transition: .5s;
}


.menu-wrap {
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    width: 285px;
    margin-left: -280px;
    padding-bottom:39px;
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
    border-right: 5px solid #B9ADAD;
}

.menu-show {
    border: none;
    margin-left: 0;
    box-shadow: 0px 5px 15px #B9ADAD;
    display: inline-block;
}

.menu-toggle {
    position: relative;
    top: 45%;
    left: -15px;
    float: left;
    width: 50px;
    height: 100%;
    background-color: antiquewhite;
    transition: .25s;
}

.menu-toggle-move {
    left: -20px;
    margin-left: 280px;
    background-color: #b6ff00;
}

.menu-sidebar li > a::after {
    content: "";
    display: block;
    height: 0.15em;
    position: absolute;
    top: 100%;
    width: 102%;
    left: 50%;
    transform: translate(-50%);
    background-image: linear-gradient(to right, transparent 50.3%, #FFFA3B 50.3%);
    transition: background-position .2s .1s ease-out;
    background-size: 200% auto;
}

.menu-sidebar li > a:hover::after {
    background-position: -100% 0;
}

.menu-sidebar li > a::after {
    background-image: linear-gradient(to right, transparent 50.3%, #FFFA3B 50.3%);
}
